body{
    background-color: bisque;
    font-size: 30px;
    font-family: "Century Gothic", fantasy;
    margin: 0;
}

.sign-up{
    margin: 0;
    background-color: black;
    font-size: 40px;
    min-height: 2.5em;
}
.sign-up-properties{
    margin: 0 5px 0 0;
    padding: 10px;
    text-align: right;
    color: burlywood;
    text-decoration: none;
}